{
    "clientId": "",
    "certPass": "",
    "certPath": "",
    "objectId": "",
    "subscriptionId": "",
    "tenantId": "",
    "resourceManagerEndpointUrl": "",
    "location": "",
    "disableInstanceDiscovery": "false"
}